body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.screen{
    margin-top: 70px;
    min-height: calc(100vh - 70px);
}

@import "colors";
@import "menu";
@import "loading";
@import "login";
@import "home";
@import "footer";