.menu-container {
    display: grid;
    grid-template-columns: 100px 350px repeat(6, minmax(auto,180px));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    position: fixed;
    overflow: hidden;
    align-items: center;
    z-index: 100;
    top: 0;
    right: 0px;
    left: 0px;
    align-items: center;
    height: 70px;
    background-color: $yellow;
    color: $white;
}
.menu-icon {
    display: none;
}
.menu-item{
    display: grid;
    align-items: center;
    text-decoration: none;
    color: $white;
    p {
        font-weight: bold;
        font-size: 20px;
        margin: 0px;
        white-space: nowrap;
    }
    &--logout {
        grid-column: 8;
    }
}
.menu-item-name{
    display: grid;
    grid-column: 2;
    align-items: center;
    text-decoration: none;
    color: $white;
    p {
        font-weight: 100;
        font-size: 30px;
        margin: 0px;
    }
}
.menu-item-button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
}
.menu-item:focus, .menu-item-name:focus, .mobile-layout-title:focus {
    outline: 0;
}
.mobile-layout, .mobile-layout-icon, .mobile-layout-title {
    display: none;
}
.menu-item-name--mobile{
    display: grid;
    align-items: center;
    text-decoration: none;
    color: $white;
    padding-left: 20px;
    p {
        font-weight: bold;
        font-size: 20px;
        margin: 0px;
    }      
}
@media (max-width: 800px) {
    .menu-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
        background-color: $blue;
        z-index: 100;
        height: 100vh;
        width: 250px;
        font-size: 30px;
        transition: width 0.6s;
        grid-gap: 5px;
        &--close{
            width: 0px;
            -webkit-box-shadow: none; 
            box-shadow: none;
        }
    }
    .menu-container--close > * {
        display: none;
    }
    .menu-item {
        padding-left: 20px;
        &--logout {
            grid-column: 1;
            p {
                margin: 0;
            }
        }
    }
    .menu-item-name--mobile {
        p {
            white-space: nowrap;
        }
    }
    .menu-item-button {
        padding: 0px;
    }
    .menu-logo {
        display: none;
    }
    .mobile-layout {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        position: fixed;
        overflow: hidden;
        z-index: 99;
        top: 0;
        right: 0px;
        left: 0px;
        height: 70px;
        background-color: $yellow;
        color: white;
        font-size: 20px;
    }
    .mobile-layout > * {
        display: grid;
    }
    .mobile-layout-title {
        font-size: 25px;
        font-weight: 100;
        padding: 0px 0px 0px 20px;
        color: $white;
        text-decoration: none;
        p {
            margin: 0px;
        }
    }
    .mobile-layout-icon {
        z-index: 10;
        font-size: 40px;
        padding: 0px 30px;
        color: $white;
    }
}
